Repository umrover/mrover-workspace, pull requests merged in 2022-02, with the labels that each got.

#884 Refine ground + FPS Counter + Silent mode
  jetson/percep_obs_detect/CMakeLists.txt
  jetson/percep_obs_detect/include/camera/camera.hpp
  jetson/percep_obs_detect/include/helper/timer.hpp
  jetson/percep_obs_detect/include/obstacle/obs-detector.h
  jetson/percep_obs_detect/include/obstacle/refine-ground.hpp
  jetson/percep_obs_detect/include/reader/reader.h
  jetson/percep_obs_detect/include/viewer/viewer.hpp
  jetson/percep_obs_detect/src/camera/zed.cpp
  jetson/percep_obs_detect/src/helper/common.cu
  jetson/percep_obs_detect/src/obstacle/obs-detector.cu
  jetson/percep_obs_detect/src/obstacle/plane-ransac.cu
  jetson/percep_obs_detect/src/refine-ground.cpp
  jetson/percep_obs_detect/src/viewer/viewer.cpp
Labels: enhancement, percep

#901 [nav] Fixes from rover testing on 2/6
  jetson/nav/rover.cpp
Labels: nav, C/C++

#925 [nav] Changed driving power
  jetson/nav/rover.cpp
Labels: nav

#934 [nav] Search SM Fixes + Clean-Up
  config/nav/config.json
  jetson/nav/rover.hpp
  jetson/nav/search/searchStateMachine.cpp
  jetson/nav/search/searchStateMachine.hpp
  jetson/nav/stateMachine.cpp
Labels: nav, C/C++
