Repository umrover/mrover-workspace, pull requests merged in 2022-04, with the labels that each got.

#1029 [nav] Gate Search
  config/nav/config.json
  jetson/nav/CMakeLists.txt
  jetson/nav/courseProgress.cpp
  jetson/nav/courseProgress.hpp
  jetson/nav/environment.cpp
  jetson/nav/environment.hpp
  jetson/nav/filter.hpp
  jetson/nav/gate_search/diamondGateSearch.cpp
  jetson/nav/gate_search/diamondGateSearch.hpp
  jetson/nav/gate_search/gateStateMachine.cpp
  jetson/nav/gate_search/gateStateMachine.hpp
  jetson/nav/main.cpp
  jetson/nav/meson.build
  jetson/nav/obstacle_avoidance/obstacleAvoidanceStateMachine.cpp
  jetson/nav/obstacle_avoidance/obstacleAvoidanceStateMachine.hpp
  jetson/nav/obstacle_avoidance/simpleAvoidance.cpp
  jetson/nav/pid.cpp
  jetson/nav/pid.hpp
  jetson/nav/rover.cpp
  jetson/nav/rover.hpp
  jetson/nav/search/diamondSearch.txt
  jetson/nav/search/gate_search_points.txt
  jetson/nav/search/searchFromPathFile.cpp
  jetson/nav/search/searchStateMachine.cpp
  jetson/nav/search/searchStateMachine.hpp
  jetson/nav/search/spiral_search_points.txt
  jetson/nav/searchPointGeneration.py
  jetson/nav/stateMachine.cpp
  jetson/nav/stateMachine.hpp
  jetson/nav/utilities.cpp
  jetson/nav/utilities.hpp
Labels: nav

#1046 [nav] Fix occasional bug where rover stops early, commenting
  jetson/nav/cache.hpp
  jetson/nav/courseProgress.hpp
  jetson/nav/environment.cpp
  jetson/nav/environment.hpp
  jetson/nav/filter.hpp
  jetson/nav/gate_search/gateStateMachine.cpp
  jetson/nav/gate_search/gateStateMachine.hpp
  jetson/nav/main.cpp
  jetson/nav/pid.hpp
  jetson/nav/rover.cpp
  jetson/nav/rover.hpp
  jetson/nav/search/searchStateMachine.cpp
  jetson/nav/stateMachine.cpp
  jetson/nav/stateMachine.hpp
  jetson/nav/utilities.cpp
  jetson/nav/utilities.hpp
  pip_deps/requirements.txt
Labels: nav

#1054 [nav] Comment code, add isOnTarget
  jetson/nav/pid.cpp
  jetson/nav/pid.hpp
  jetson/nav/rover.cpp
  jetson/nav/stateMachine.cpp
  jetson/nav/utilities.cpp
  jetson/nav/utilities.hpp
Labels: nav

#1072 [percep -> nav] Use point cloud to better retrieve AR tag distance and bearing
  config/percep/config.json
  jetson/percep/CMakeLists.txt
  jetson/percep/artag_detector.cpp
  jetson/percep/artag_detector.hpp
  jetson/percep/camera.cpp
  jetson/percep/camera.hpp
  jetson/percep/main.cpp
Labels: nav, percep

#1075 [nav] Lower chance gate will be regenerated incorrectly
  config/nav/config.json
  jetson/nav/gate_search/gateStateMachine.cpp
Labels: nav

#1061 [sim] Added a bash script to easily build and run the 2d simulator
  simulators/nav/README.md
  simulators/nav/runsim
Labels: sim, bash
