Repository umrover/mrover-workspace, pull requests merged in 2022-03, with the labels that each got.

#888 [sim] Percep noise + GPS noise simulator with threshold adjustment
  simulators/nav/src/components/NavSimulator.vue
  simulators/nav/src/components/control_panel/DebugTools.vue
  simulators/nav/src/components/control_panel/SimSettings.vue
  simulators/nav/src/components/field/Field.vue
  simulators/nav/src/components/field/ar_tags.ts
  simulators/nav/src/components/field_items/ArTagItem.vue
  simulators/nav/src/components/perception/target_detector.ts
  simulators/nav/src/store/modules/roverState.ts
  simulators/nav/src/store/modules/simulatorState.ts
  simulators/nav/src/utils/constants.ts
  simulators/nav/src/utils/types.ts
  simulators/nav/src/utils/utils.ts
Labels: sim

#926 [teleop] Auton GUI Updates
  base_station/gui/src/components/AutonTask.vue
  base_station/gui/src/components/DriveControls.vue
  base_station/gui/src/components/LCMEcho.vue
  base_station/gui/src/components/OdometryReading.vue
  base_station/gui/src/components/OdometryReadingSA.vue
  base_station/gui/src/components/RATask.vue
  base_station/gui/src/components/RawSensorData.vue
  base_station/gui/src/components/RoverMapAuton.vue
  base_station/gui/src/components/SAControls.vue
  base_station/gui/src/components/SATask.vue
  base_station/gui/src/components/SaveAutonData.vue
  base_station/gui/src/components/WaypointEditor.vue
  base_station/gui/src/components/WaypointEditor_Auton.vue
  base_station/gui/src/components/WaypointItem.vue
  base_station/gui/src/components/WaypointItem_Auton.vue
  base_station/gui/src/static/location_marker_icon.png
  rover_msgs/RepeaterDrop.lcm
Labels: nav, Vue

#935 Added calibration fields to IMUData struct + IMU now sending magnetometer data
  base_station/gui/src/components/AutonTask.vue
  base_station/gui/src/components/SaveAutonData.vue
  base_station/gui/src/static/rover_msgs.json
  jetson/imu_channel/src/__main__.py
  jetson/imu_channel/src/bno055_serial/bno055_serial.ino
  rover_msgs/IMU.lcm
  rover_msgs/IMUData.lcm
Labels: loc, LCM

#938 Python Search Point Generation for Spiral-out Search
  config/nav/config.json
  jetson/nav/README.md
  jetson/nav/search/spiralOutSearch.cpp
  jetson/nav/search/spiral_search_points.txt
  jetson/nav/searchPointGeneration.py
Labels: nav

#979 Spiral out search pattern upgrades
  jetson/nav/search/spiral_search_points.txt
  jetson/nav/searchPointGeneration.py
Labels: nav

#988 GPS encoder stop, filter crash fix
  jetson/filter/src/__main__.py
Labels: percep, loc
