Repository umrover/mrover-workspace, pull requests merged in 2022-01, with the labels that each got.

#824 Nearest obs
  jetson/percep_obs_detect/CMakeLists.txt
  jetson/percep_obs_detect/include/find-clear-path.hpp
  jetson/percep_obs_detect/include/obs-detector.h
  jetson/percep_obs_detect/src/find-clear-path.cu
  jetson/percep_obs_detect/src/obs-detector.cu
Labels: percep

#832 [nav] Basic Target Caching
  config/nav/config.json
  jetson/nav/gate_search/diamondGateSearch.cpp
  jetson/nav/gate_search/gateStateMachine.cpp
  jetson/nav/obstacle_avoidance/obstacleAvoidanceStateMachine.cpp
  jetson/nav/rover.cpp
  jetson/nav/rover.hpp
  jetson/nav/search/searchStateMachine.cpp
  jetson/nav/utilities.cpp
Labels: nav, C/C++

#850 [nav] Fixed infinite looping due to caching
  jetson/nav/rover.cpp
Labels: nav, C/C++

#833 GL Viewer UI + GLFW
  imgui.ini
  jetson/percep_obs_detect/CMakeLists.txt
  jetson/percep_obs_detect/include/euclidean-cluster.hpp
  jetson/percep_obs_detect/include/filter.hpp
  jetson/percep_obs_detect/include/imgui/imconfig.h
  jetson/percep_obs_detect/include/imgui/imgui.h
  jetson/percep_obs_detect/include/imgui/imgui_impl_glfw.h
  jetson/percep_obs_detect/include/imgui/imgui_impl_opengl3.h
  jetson/percep_obs_detect/include/imgui/imgui_impl_opengl3_loader.h
  jetson/percep_obs_detect/include/imgui/imgui_internal.h
  jetson/percep_obs_detect/include/imgui/imstb_rectpack.h
  jetson/percep_obs_detect/include/imgui/imstb_textedit.h
  jetson/percep_obs_detect/include/imgui/imstb_truetype.h
  jetson/percep_obs_detect/include/obs-detector.h
  jetson/percep_obs_detect/include/plane-ransac.hpp
  jetson/percep_obs_detect/include/reader.h
  jetson/percep_obs_detect/include/viewer.hpp
  jetson/percep_obs_detect/src/imgui.cpp
  jetson/percep_obs_detect/src/imgui/imgui_demo.cpp
  jetson/percep_obs_detect/src/imgui/imgui_draw.cpp
  jetson/percep_obs_detect/src/imgui/imgui_impl_glfw.cpp
  jetson/percep_obs_detect/src/imgui/imgui_impl_opengl3.cpp
  jetson/percep_obs_detect/src/imgui/imgui_tables.cpp
  jetson/percep_obs_detect/src/imgui/imgui_widgets.cpp
  jetson/percep_obs_detect/src/obs-detector.cu
  jetson/percep_obs_detect/src/plane-ransac.cu
  jetson/percep_obs_detect/src/viewer.cpp
Labels: percep

#857 [teleop] Flip drive polarity
  jetson/teleop/src/__main__.py
Labels: teleop
